body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.mamun{
    width: 50%;
    padding-left: 5%;
    text-align: justify;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    color: white;
    border-radius: 15px;
}
.mamun img{
    width: 80%;
}
.top-ban{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-bg{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ex-bottom{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.item{width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    text-align: justify;
    
}
#nodi{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#rasel{
    border-left: 7px solid;
    border-image: linear-gradient(crimson, purple);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}